<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">        
            <div class="col-md-8 col-xl-6 chat">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="https://onedrive.live.com/embed?resid=15B5D1E39FB2A5B3%21179&authkey=%21AJZCjHDtRkz8izM&width=170&height=207" class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span>TekBot</span>
                                <p>Ask me anything!</p>
                            </div>
                        </div>
                    </div>
                    <div id="messageFormeight" class="card-body msg_card_body">
                        
                        
                    </div>
                    <div class="logo">
                        <img src="https://onedrive.live.com/embed?resid=6FDF29F6D576EA96%212120&authkey=%21AMC9RgaqAhsA770&width=420&height=355" class="ibon" width="150px" height="150px"/>
                    </div>
                    <div class="prompt">
                        <button class="btn1" style="height:50px;width:300px;" onclick="hideButtonAndDisplayText('What facilities college provide?')">What facilities college provide?</button>
                        <button class="btn1" style="height:50px;width:300px;" onclick="hideButtonAndDisplayText('Undergraduate enrollment procedure')" style="float: right">Undergraduate enrollment procedure</button>
                        <button class="btn1" style="height:50px;width:300px;" onclick="hideButtonAndDisplayText('Graduate Program admission procedure')">Graduate Program admission procedure</button>
                        <button class="btn1" style="height:50px;width:300px;" onclick="hideButtonAndDisplayText('Freshmen enrollment procedure')" style="float: right">Freshmen enrollment procedure</button>
                        <div id="hideButtonAndDisplayText"></div>
                    </div>
                    <div class="card-footer">
                        <form id="messageArea" class="input-group">
                            <textarea type="text" id="text" name="msg" placeholder="Message TekBot......." autocomplete="off" class="form-control type_msg" required></textarea>
                            <div class="input-group-append">
                                <button type="submit" id="send" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        function hideButtonAndDisplayText(text) {
            const date = new Date();
            let hour = date.getHours();
            let minute = date.getMinutes();
            let am_pm = "AM";

            // Convert hours to 12-hour format and determine AM/PM
            if (hour >= 12) {
                am_pm = "PM";
            }
            if (hour > 12) {
                hour -= 12;
            }

            // Adjusting 0 hours to 12 for 12-hour format
            if (hour === 0) {
                hour = 12;
            }

            // Adding leading zero for minutes if necessary
            minute = (minute < 10 ? '0' : '') + minute;

            const str_time = hour + ":" + minute + " " + am_pm;

            var userHtml = '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' + text + '<span class="msg_time_send">'+ str_time + '</span></div><div class="img_cont_msg"><img src="https://onedrive.live.com/embed?resid=15B5D1E39FB2A5B3%21181&authkey=%21AE9owBscxrJtTNo&width=216&height=233" class="rounded-circle user_img_msg"></div></div>';
            
            $("#messageFormeight").append(userHtml);
            $(".btn1").hide(); // Hide all buttons when a message is sent
            $(".ibon").hide(); // Hide logo when a message is sent
        }
        $(document).ready(function() {
            // Add event listener for keydown event on the textarea
            $("#text").on("keydown", function(event) {
                // If Enter key is pressed
                if (event.keyCode === 13) {
                    // Prevent default behavior (creating a new line)
                    event.preventDefault();
                    // Trigger the form submission
                    $("#send").click();
                }
            });
            $("#messageArea").on("submit", function(event) {
                const date = new Date();
                let hour = date.getHours();
                let minute = date.getMinutes();
                let am_pm = "AM";

                // Convert hours to 12-hour format and determine AM/PM
                if (hour >= 12) {
                    am_pm = "PM";
                }
                if (hour > 12) {
                    hour -= 12;
                }

                // Adjusting 0 hours to 12 for 12-hour format
                if (hour === 0) {
                    hour = 12;
                }

                // Adding leading zero for minutes if necessary
                minute = (minute < 10 ? '0' : '') + minute;

                const str_time = hour + ":" + minute + " " + am_pm;

                var rawText = $("#text").val();
                var userHtml = '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' + rawText + '<span class="msg_time_send">'+ str_time + '</span></div><div class="img_cont_msg"><img src="https://onedrive.live.com/embed?resid=15B5D1E39FB2A5B3%21181&authkey=%21AE9owBscxrJtTNo&width=216&height=233" class="rounded-circle user_img_msg"></div></div>';
                
                $("#text").val("");
                $("#messageFormeight").append(userHtml);

                $.ajax({
                    data: {
                        msg: rawText,
                    },
                    type: "POST",
                    url: "/get",
                }).done(function(data) {
                    var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + data + '<span class="msg_time">' + str_time + '</span></div></div>';
                    $("#messageFormeight").append($.parseHTML(botHtml));
                });
                event.preventDefault();
            });
            $("#messageArea").on("click", function(event) {
                $(".ibon").hide();
                $(".btn1").hide(); 
            });
        });
    </script>
</body>
</html>
